.chat-box {
  width: 100%;
  margin-left: 120px;
}
.messages-wrapper {
  padding: 20px;
  margin-bottom: 60px;
  width: 100%;
}
/* Stiluri pentru inputul de căutare */
.SearchInChat {
  position: fixed;
  right: 0; /* Ajustează distanța de la marginea dreaptă */
  border-radius: 25px;
  width: 100px; /* Dimensiunea inputului - poate fi ajustată */
  border: 1px solid #ddd; /* Marginea inputului */
  background-color: transparent; /* Fundal alb */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Umbră subtilă */
  transition: border-color 0.3s, box-shadow 0.3s; /* Tranziție pentru interacțiuni */
  font-size: 16px; /* Dimensiunea textului */
  outline: none; /* Elimină conturul implicit la focus */
}

/* Stiluri pentru focus */
.SearchInChat:focus {
  background-color: #f2f2f2; /* Fundal alb */

  border-color: #3498db; /* Culoarea marginii la focus */
  box-shadow: 0 2px 6px rgba(0, 122, 255, 0.2); /* Umbra mai pronunțată la focus */
}

/* Stiluri pentru iconița de căutare (dacă se folosește) */
.SearchInChat::placeholder {
  color: #aaa; /* Culoarea textului placeholder */
}
