.NavBar {
  height: 50px;
  background-color: blueviolet;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  color: #242443;
  top: 0;
  width: 100%;
  z-index: 1;
}
