/* PostList.css */

.posts-list {
  padding: 0;
  background-color: #ced0d6;
}

.post-item {
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.Post-List-post-header {
  display: flex;
  justify-content: flex-start;
  color: #777;
  opacity: 0.6;
  font-size: smaller;
}

.post-header-location-icon {
  margin-right: 10px;
  font-weight: bold;
}
.Post-List-Ion-Label {
}

.post-header-date {
  font-weight: 500;
}

.post-header-SpanDot {
  margin-right: 10px;
  font-weight: bold;
}

.Post-List-post-content {
  word-spacing: 2px;
  color: #272323;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Post-List-Content {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 500;
}
.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.PostList-Ion-Card-Header {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 60%;
}

.post-actions,
.post-reactions {
  display: flex;
  align-items: center;
}

.post-icon {
  margin-right: 5px;
  cursor: pointer;
}

.post-icon:hover {
  color: #007bff;
}

.post-icon-button {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}

.post-icon-button.active {
  color: #007bff;
}

.hrLine {
  color: #ced0d6;
  opacity: 0.3;
  margin: 0;
  padding: 0;
}
